body{
  margin:0;
  padding:0;
  color:#666;
  background:#888;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:20px;
}
h2,h3{
  color:#888;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
}
a{
  color:#722872;
}
a:hover,a:focus{color:#592059;
}
#banner .container, 
main header, 
#portfolio .grid, 
#contact>div,
footer #footer-above{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow:row wrap;
      flex-flow:row wrap;
  -ms-flex-pack:distribute;
      justify-content:space-around;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
  margin:0 auto; 
}
#banner{
  background-color:#722872 !important;
  height:80px;
  box-shadow:0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-color:#592059;
}
#banner .container{width:95%;max-width:1024px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;
}
#banner .container::before, #banner .container::after{display:none
}
#banner img{height:50px;margin:15px 0;
}
nav{
  font-size:13px;
  background:#722872;
  -webkit-transition:all .3s;
  transition:all .3s;
}
@media(max-width:768px){
  nav{padding:5px;text-align:center;margin:0 auto;width:120%;
  }
  nav .active a{color:#722872;background:#bbb;box-shadow:0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  }
}
.nav>li{height:100%;text-transform:uppercase;font-weight:bold;letter-spacing:2px;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;
}
.nav>li a{color:#ffffff;padding:10px 20px;
}
.nav>li a:hover{color:#722872;background:#bbb;box-shadow:0px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.navbar-toggle{margin-right:0;
}

#top{
  height:80px;
  display:block;

.button{
  color:#fff;
  border:solid 2px #fff;
  border-radius:50%;
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  font-size:20px;
  line-height:48px;
  -webkit-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
}
.button:hover{border:solid 2px #fff;color:#722872;background:#fff;

.container{
	background-color: #722872;
}



